body {
	background: #954E2E url('../images/Background.jpg') no-repeat fixed center top;
}
#AllPage {
	margin: auto;
	width: 980px;
	top: 0px;
	position: relative;
	right: 0px;
}
.img-style3 {
	border-style: solid;
	border-width: 5px;
	margin: 5px;
}
#Banner {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-image: none;
	background-repeat: no-repeat;
	color: #F3FFE3;
	background-position: right center;
	background-color: #C51947;
}
#MenuBanner {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: #F3FFE3;
	vertical-align: middle;
	text-align: right;
	position: relative;
	background-color: #C51947;
}
menuban p {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
	margin-left: 30px;
}
menuban a {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
	margin-left: 30px;
}
menuban a:hover {
	color: #5C743D;
	background-color: #D5ECB3;
	margin-left: 30px;
}
h1 {
	font-family: "Viner Hand ITC";
	font-size: 80px;
	position: absolute;
	vertical-align: top;
	text-align: left;
	width: 85px;
	top: -60px;
	left: 5px;
}
h2 {
	font-family: "Viner Hand ITC";
	font-size: 30px;
	position: absolute;
	top: 60px;
	left: 250px;
}
h3 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 30px;
	position: relative;
	font-weight: bold;
	text-transform: none;
}
h4 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 20px;
	position: relative;
	font-weight: bold;
	text-transform: none;
	text-align: right;
}
img {
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
}
#Menu {
	padding: 1px;
	font-family: "Viner Hand ITC";
	background-color: #FF0000;
	color: #F3FFE3;
	position: absolute;
	font-size: 30px;
	left: auto;
	top: auto;
}
menu p {
	font-family: "Viner Hand ITC";
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
}
menu a {
	font-family: "Viner Hand ITC";
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
}
menu a:hover {
	font-family: "Viner Hand ITC";
	color: #5C743D;
	background-color: #D5ECB3;
}
#Content {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: #C51947;
	background-image: none;
	background-repeat: no-repeat;
	color: #F3FFE3;
	background-position: right center;
}
content h3 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
	font-size: 20px;
	margin-left: 30px;
}
content h9 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
	font-size: 10px;
	margin-left: 30px;
}
content p {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
	font-size: 15px;
	margin-left: 30px;
}
content a {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
	font-size: 15px;
	margin-left: 30px;
}
content a:hover {
	color: #5C743D;
	background-color: #D5ECB3;
	margin-left: 30px;
}
content table {
	border: medium solid #F3FFE3;
	border-radius: 6px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 5px;
	font-size: 15px;
	position: absolute;
	top: 50px;
	right: 180px;
	border-spacing: 5px;
	empty-cells: show;
	table-layout:fixed;
}
#Gallery {
	width: 740px;
	height: 410px;
	margin: 0 auto;
	background-color: #F3FFE3;
	padding: 5px;
}
#LargeImage {
	width: 400px;
	height: 350px;
}
#LargeImage > img {
	width: 400px;
	height: 350px;
	margin: 5px;
}
#SmallImage {
	width: 330px;
	height: 220px;
	padding: 5px;
	float: left;
}
#SmallImage > img {
	width: 100px;
	height: 105px;
	display: block;
	float: left;
	margin: 5px;
	transition: border-radius 0.3s linear 0s;
}
#SmallImage > img:hover {
	border-radius: 100px;
	cursor: pointer;
}
#Footer {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: #C51947;
	background-image: none;
	background-repeat: no-repeat;
	color: #F3FFE3;
	background-position: left center;
}
footer a {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
	color: #F3FFE3;
	padding: 2px;
}
footer a:hover {
	color: #5C743D;
	background-color: #D5ECB3;
}
#copyright {
	font-size: x-small;
}
a {
	text-decoration: none;
	color: #5C743D;
	padding-right: 2px;
	padding-left: 2px;
}
